*.swp
Project/.gradle/buildOutputCleanup/cache.properties
Project/.gradle/4.10.1/taskHistory/taskHistory.bin
Project/.gradle/4.10.1/javaCompile/javaCompile.lock
Project/.gradle/4.10.1/fileHashes/fileHashes.lock
Project/.gradle/4.10.1/fileHashes/fileHashes.bin
Project/.gradle/4.10.1/fileChanges/last-build.bin
Project/GUI/build/tmp/jar/MANIFEST.MF
Project/.gradle/buildOutputCleanup/outputFiles.bin
Project/.gradle/4.10.1/taskHistory/taskHistory.lock
Project/.gradle/4.10.1/javaCompile/taskHistory.bin
Project/.gradle/4.10.1/fileContent/fileContent.lock
Project/.gradle/vcs-1/gc.properties
Project/.gradle/4.10.1/gc.properties
Project/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Project/.gradle/4.10.1/javaCompile/classAnalysis.bin
Project/PluginFinder/build/tmp/jar/MANIFEST.MF
Project/build/tmp/jar/MANIFEST.MF
Project/.gradle/4.10.1/fileContent/annotation-processors.bin
Project/.gradle/4.10.1/fileHashes/resourceHashesCache.bin
Project/.gradle/4.10.1/javaCompile/jarAnalysis.bin
Project/QuestionTypes/build/tmp/jar/MANIFEST.MF
Project/QuestionTypes/MultiChoice/build/tmp/jar/MANIFEST.MF
Project/QuestionTypes/QuestionType/build/tmp/jar/MANIFEST.MF
Project/QuestionTypes/ShortAnswer/build/tmp/jar/MANIFEST.MF
Project/QuizPlugins/DoctorWhoQuiz/build/tmp/jar/MANIFEST.MF
Project/QuizPlugins/build/tmp/jar/MANIFEST.MF
Project/QuizPlugins/QuizPlugin/build/tmp/jar/MANIFEST.MF
Project/Errors/build/tmp/jar/MANIFEST.MF
Project/plugins/QuestionTypes/ShortAnswer.jar
Project/plugins/QuestionTypes/MultiChoice.jar
Project/build/libs/janeks-TextGame.jar
Project/build/classes/java/main/Mainf.class
Project/QuestionTypes/QuestionType/build/classes/java/main/Timeouts.class
Project/QuestionTypes/QuestionType/build/classes/java/main/Result.class
Project/QuestionTypes/QuestionType/build/classes/java/main/QuestionType.class
Project/QuestionTypes/QuestionType/build/classes/java/main/Question.class
Project/QuestionTypes/MultiChoice/build/classes/java/main/MultiChoice$2.class
Project/GUI/build/classes/java/main/GUI.class
Project/GUI/build/classes/java/main/GUI$1.class
Project/Errors/build/libs/Errors.jar
Project/Errors/build/classes/java/main/ErrorGUI.class
Project/plugins/Quizzes/DoctorWhoQuiz.jar
Project/QuizPlugins/DoctorWhoQuiz/build/classes/java/main/DoctorWhoQuiz.class
Project/QuestionTypes/build/libs/QuestionTypes.jar
Project/QuestionTypes/ShortAnswer/build/libs/ShortAnswer.jar
Project/QuestionTypes/ShortAnswer/build/classes/java/main/ShortAnswer.class
Project/QuestionTypes/QuestionType/build/classes/java/main/GameLogic.class
Project/QuestionTypes/MultiChoice/build/libs/MultiChoice.jar
Project/QuestionTypes/MultiChoice/build/classes/java/main/MultiChoice.class
Project/QuestionTypes/MultiChoice/build/classes/java/main/MultiChoice$3.class
Project/PluginCore/build/classes/java/main/PluginSetup$1.class
Project/PluginCore/build/classes/java/main/PluginLoader.class
Project/PluginCore/build/classes/java/main/PluginFinder.class
Project/GUI/build/libs/GUI.jar
Project/QuizPlugins/build/libs/QuizPlugins.jar
Project/QuizPlugins/QuizPlugin/build/libs/QuizPlugin.jar
Project/QuizPlugins/QuizPlugin/build/classes/java/main/QuizPlugin.class
Project/QuizPlugins/DoctorWhoQuiz/build/libs/DoctorWhoQuiz.jar
Project/QuestionTypes/ShortAnswer/build/classes/java/main/ShortAnswer$3.class
Project/QuestionTypes/ShortAnswer/build/classes/java/main/ShortAnswer$2.class
Project/QuestionTypes/ShortAnswer/build/classes/java/main/ShortAnswer$1.class
Project/QuestionTypes/QuestionType/build/libs/QuestionType.jar
Project/QuestionTypes/MultiChoice/build/classes/java/main/MultiChoice$1.class
Project/PluginCore/build/libs/PluginCore.jar
Project/PluginCore/build/classes/java/main/PluginSetup.class
Project/PluginCore/build/tmp/jar/MANIFEST.MF
